In [217]:
import time
import selenium
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
import pandas as pd
from bs4 import BeautifulSoup

In [218]:
path = '/Downloads/chromedriver.exe'
driver = webdriver.Chrome(path)
driver.get('https://www.linkedin.com')

<ipython-input-218-3f92535c707a>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [219]:
username = driver.find_element(By.ID,'session_key')
username.send_keys('youremailaddress')
password = driver.find_element(By.ID,'session_password')
password.send_keys('yourpassword')

In [220]:
login_button = driver.find_element(By.CLASS_NAME,'sign-in-form__submit-button')
login_button.click()

In [221]:
driver.get('https://www.linkedin.com/jobs/search/?currentJobId=3386920497&distance=25&geoId=102380872&keywords=data%20scientist')

In [222]:
jobs_num = driver.find_element(By.CSS_SELECTOR,"div.jobs-search-results-list__title-heading").get_attribute("innerText")
jobs_num

'Data scientist in Boston, Massachusetts, United States\n35,659 results'

In [223]:
job_titles = []
company_names = []

In [249]:
job_src = driver.page_source
soup = BeautifulSoup(job_src, 'lxml')

In [250]:
jobs_html = soup.find_all('a', {'class': 'job-card-list__title'})
  
for title in jobs_html:
    job_titles.append(title.text.strip())

In [251]:
company_name_html = soup.find_all('a', {'class': 'job-card-container__company-name'})
 
for name in company_name_html:
    company_names.append(name.text.strip())

In [252]:
df = pd.DataFrame({'Position':job_titles,'Company':company_names})

In [253]:
df

                                              Position               Company
0                          Senior Data Scientist, Bots         C.H. Robinson
1                        Senior Quant Business Analyst  Fidelity Investments
2            Product Data Scientist, Supplier Services               Xometry
3                  Sr. Specialist, Marketing Analytics                   PTC
4              Data Scientist, Advanced Data Analytics  Fidelity Investments
..                                                 ...                   ...
127  Business Analyst (100% Remote in Baltimore, MD...       The Mom Project
128     Associate Analyst, Data Analytics and Insights  Fidelity Investments
129                           Principal Data Scientist   Nirrin Technologies
130                             Senior Product Analyst                 WHOOP
131                       Sr. Associate, Risk Modeling  Santander Bank, N.A.

[132 rows x 2 columns]

In [254]:
df.to_csv('/Downloads/LinkedIn_JOB.csv')